.general-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0E3B5D;
}

.table-container {
    padding: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-header {
    background-color: #0E3B5D;
    color: #f7f7f7;
}

.table-header th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-body td,
.table-body th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-body tr:hover {
    background-color: #ddd;
}

.transfer-btn {
    padding: 8px 12px;
    color: #f7f7f7;
    background-color: #0E3B5D;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.transfer-btn:hover {
    background-color: #094069;
}