.general-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0E3B5D;
}

.subtitle {
    font-size: 1.2rem;
    color: gray;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field,
.info-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field label,
.info-field label {
    color: #0E3B5D;
    font-weight: bold;
}

.input-field input {
    width: 98%;
    padding: 10px;
    border: 1px solid #0E3B5D;
    border-radius: 4px;
}

.input-field input:focus {
    outline: none;
    border-color: #094069;
}

.to-account-field {
    width: 120%;
}

.to-account-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fav-button,
.fav-list-button {
    background-color: #0E3B5D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 30px;
}

.fav-button:hover,
.fav-list-button:hover {
    background-color: #094069;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #0E3B5D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #094069;
}
