.card-info {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  height: 300%;
  max-width: 800px;
  width: 50%;
  color: #333;
  margin: 40px auto;
}
.card-info h2 {
  color: #002855; 
  margin-bottom: 8px;
}
.title{
  font-size: 2.5rem;
    font-weight: bold;
    color: #0E3B5D;
    text-align: center;
}
.card-info p {
  color: #333;
}