.card-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    padding: 2.5%;
    height: auto;
    max-width: 800px;
    width: 50%;
    color: #333;
    margin: 40px auto;
  }
  
  .title-container {
    margin-bottom: 5%;
  }
  .subdesc{
    font-size: 1.5rem;
    color: #002855;
    text-align: center;
  }
  .card-info h2 {
    color: #002855; 
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .description {
    font-size: 1.5rem;
    text-align: justify;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0E3B5D;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .card-info p {
    color: #333;
  }
  
  .contact-info {
    margin-top: 16px;
    font-size: 1.2rem;
  }
  
  .contact-item {
    margin-bottom: 16px;
  }
  
  .contact-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .menu-option {
    margin-bottom: 16px;
  }
  
  .label-option {
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .label-option:hover {
    background-color: #b0b0b0;
  }
  
  .option-text {
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin-top: 8px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 500px; /* Adjust as needed */
    opacity: 1;
    text-align: justify;
  }
  
  .option-text.collapsed {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }