
.servicio-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(179, 150, 150, 0.1);
}

.servicio-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0E3B5D;

}

.servicio-form form {
  display: flex;
  flex-direction: column;
}

.servicio-form :placeholder-shown {
  display: flex;
  flex-direction: column;
  color: #0E3B5D;
}

.servicio-form input[type="text"],
.servicio-form input[type="number"],
.servicio-form textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color : #0E3B5D;
}

.servicio-form textarea {
  resize: vertical;
  min-height: 100px;
}

.servicio-form button {
  background-color: #0E3B5D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.servicio-form button:hover {
  background-color: #0c4e80;
}

.servicio-form button[type="button"] {
  background-color: #ccc;
  margin-top: 10px;
}

.servicio-form button[type="button"]:hover {
  background-color: #bbb;
}